@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fffffe;
  background-color: #0f0e17;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0.1rem;
  align-items: center;
}

.navbar > a {
  color: #fffffe;
  font-size: 2.5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.navbar-nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.navbar-nav ul li a {
  color: #fffffe;
  font-size: 1.2rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

.navbar-nav ul li a::after {
  content: '';
  padding-bottom: 0.2rem;
  display: block;
  border-bottom: 3px solid #ff8906;
  transform: scale(0);
  transition: 0.3s all ease-in-out;
}

.navbar-nav ul li a:hover {
  color: #ff8906;
  transition: 0.3s all ease-in-out;
}

.navbar-nav ul li a:hover::after {
  transform: scale(1);
}

#hero {
  display: flex;
  flex-direction: row-reverse;
  margin: 8em 15em;
  align-items: center;
}

#heo .hero-img {
  margin: 10px 0px;
}

#hero .hero-img img {
  width: 15rem;
  border-radius: 50%;
}

#hero .hero-text {
  max-width: 60rem;
  width: 100%;
  margin-top: 50px;
}

#hero .hero-text > h1 {
  margin-bottom: 0.6em;
  font-size: 3rem;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 5px #a7a9be;
}

#hero .hero-text > p {
  letter-spacing: 0.1em;
  font-size: 1.3rem;
  line-height: 2em;
  color: #a7a9be;
}

#contact {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  position: fixed;
  top: 29rem;
}

#contact img:nth-child(1) {
  padding: 0.3rem 0px;
  width: 3rem;
}

#contact img:nth-child(2) {
  width: 2.5rem;
}

#contact img:nth-child(3) {
  width: 2.5rem;
}

#contact img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.title-blog {
  font-size: 2rem;
  text-align: start;
  margin-top: 13rem;
  margin-bottom: 2rem;
  margin-left: 15rem;
}

.card {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 878px;
  padding: 35px 50px 50px 30px;
  margin-left: 15rem;
  background: #fffffe;
  border-radius: 24px;
}

.card img {
  max-width: 280px;
  width: 50vw;
  height: 200px;
  object-fit: cover;
  margin-left: -10px;
  margin-right: 40px;
  border-radius: inherit;
  filter: drop-shadow(10px 5px 4px #0f0e17);
}

.card-text h1 {
  font-size: 2rem;
  color: #2e2f3e;
  margin-bottom: 10px;
}

.card-text h2 {
  font-size: 1.2em;
  color: #a7a9be;
  margin-bottom: 12px;
}

.card-text span {
  color: #a7a9be;
}

.card-text span:nth-of-type(2) {
  margin-left: 15rem;
}

.card2 {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 878px;
  padding: 35px 50px 50px 30px;
  margin-left: 15rem;
  margin-top: 3em;
  background: #fffffe;
  border-radius: 24px;
}

.card2 img {
  max-width: 280px;
  width: 50vw;
  height: 200px;
  object-fit: cover;
  margin-left: -10px;
  margin-right: 40px;
  border-radius: inherit;
  filter: drop-shadow(10px 5px 4px #0f0e17);
}

.card2 .card-text span:nth-of-type(2) {
  margin-left: 11rem;
}

.card3 {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 878px;
  padding: 35px 50px 50px 30px;
  margin-left: 15rem;
  margin-top: 3em;
  margin-bottom: 2em;
  background: #fffffe;
  border-radius: 24px;
}

.card3 img {
  max-width: 280px;
  width: 50vw;
  height: 200px;
  object-fit: cover;
  margin-left: -10px;
  margin-right: 40px;
  border-radius: inherit;
  filter: drop-shadow(10px 5px 4px #0f0e17);
}

#blog > a {
  font-size: 1.3rem;
  color: #fffffe;
  margin-left: 15rem;
}

#blog > a:hover {
  color: #ff8906;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 0px;
  align-items: center;
  grid-gap: 30px;
  color: #fffffe;
  place-items: center;
  padding: 10px 180px;
}

.card-porto {
  background-color: #fffffe;
  width: 25vw;
  border-radius: 24px;
  padding-bottom: 20px;
}

.card-img img {
  width: 25vw;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  filter: drop-shadow(0px 5px 4px #0f0e17);
}

.card-info a {
  padding: 20px 10px;
  color: #0f0e17;
}

.card-info a > p,
span {
  padding: 5px 13px;
}

.card-info a > p:nth-of-type(1) {
  font-size: 2rem;
}

.card-info a > p:nth-of-type(2) {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card-info a > span {
  background-color: #2e2f3e;
  color: #fffffe;
  font-weight: 500;
  margin-left: 12px;
  border-radius: 5px;
}

#portofolio h1 {
  font-size: 2rem;
  margin-left: 240px;
  margin-top: 200px;
}

footer {
  margin-top: 100px;
  padding: 20px;
  color: white;
  background-color: #2e2f3e;
  text-align: center;
  font-weight: bold;
}
